<!DOCTYPE html> 
<html> 
<head> 
    <title> Dashboard</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='mystyle.css')}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="http://samjc310.000webhostapp.com/blog/favicon.ico" />
</head> 
<body background-color="#E6E6FA"> 
<style type="text/css">
    .important { color: #336699;
        font-family: "Courier New", Courier, monospace ;
    }
    .bottom-three {
     margin-bottom:  1cm;
    }
</style>
<br>
<!--First Container-->
<div class="container">
<div class="row">
<div class="col-sm-2">
    <img src="{{url_for('static', filename='logo.PNG')}}" alt="MTX logo" style="width:150px;height:100px;">
</div>
<div class="col-sm-8 text-center">
    <br>
    <h1 class="important"><b>Welcome {{pid}}</b></h1>
</div>
</div>
</div>

<div class="container">
<table class="table table-striped">
<thead>
<tr>
<th >SNo</th>
<th >Task ID</th>
<th >Subject</th>
<!--<th >Code</th>-->
<th >Access Code</th>
<th >Start Time</th>
<th >End Time</th>
<th >Status</th>
<th>Sem /Year</th>
</tr>
</thead>
<tbody>
{%for i in range(0,len)%}
<tr>
<td>{{i+1}}</td>
<td>{{li[i][0]}}</td>
<td>{{li[i][1]}}</td>
<!--<td>{{li[i][5]}}</td>-->
<td>{{li[i][6]}}</td>
<td>{{li[i][2]}}</td>
<td>{{li[i][3]}}</td>
<td>{{li[i][4]}}</td>
<td>{{li[i][7]}}</td>
<td><a href={{"change_status?tid="+li[i][0]+"&pid="+pid}}>Edit </a>
    <a href={{"delete_task?tid="+li[i][0]+"&pid="+pid}}> Delete </a></td>
</tr>
{%endfor%}  
</tbody>
</table>
</div>
<br>
<br>
<div class="container">
<div class="row">
<div class="col-sm-5"></div>
<div class="com-sm-2">
<a class="btn btn-primary col-sm-2 block-center" a href={{"add_task?pid="+pid}}>Add Task</a>
</div>
</div>
</div>
</body>
</html> 